.table-responsive {
    position: relative;
}

.table .actions-column {
    position: sticky;
    right: 0;
    z-index: 1;
    background-color: white;
    box-shadow: -1px 0 0 #ddd;
}

.table tbody tr:nth-child(even) .actions-column {
    background-color: #fff;
}

.table tbody tr:nth-child(odd) .actions-column {
    background-color: #f2f2f2;
}